#calc {
    height: 420px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#calc form {
    height: 100%;
    width: 100%;
    background-color: black;
}

#calc input[type=textfield] {
    height: 25%;
    width: 100%;
    cursor: cell;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: pink;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
    background-color: black;
    padding: 0;
}

#calc input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
    
}

#calc .rose {
    background-color: rgb(117, 9, 86);
    color: white !important;
} 

#calc .pinky{
    background-color: rgb(190, 98, 213);
    color: white !important;
} 

#calc .gray {
    background-color: rgb(51, 51, 51);
    color: white !important;
} 
